.news {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0 auto;
}

.news__title {
  font-family: "Cabinet Grotesk";
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  color: #1a1b22;
  padding-left: 104px;
  margin: 40px 0 0 0;
}

.news__subtitle {
  font-family: "Cabinet Grotesk";
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  color: #1a1b22;
  padding-left: 104px;
  margin: 28px 0 0 0;
}

.news__keyword {
  font-family: "Cabinet Grotesk";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1b22;
  padding-left: 104px;
  margin: 30px 0 56px 0;
}

.news__bold {
  font-family: "Cabinet Grotesk";
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.news__grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, auto));
  grid-template-rows: repeat(auto-fill, minmax(576px, auto));
  gap: 16px;
  align-items: center;
  justify-content: center;
  background: #f5f6f7;
  padding: 62px 104px;
  margin: 0 auto;
}
