.main {
    z-index: 1;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0 auto;
    background: #fff;
}

.main__group_top {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 576px;
}

.main__group_bot {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 624px;
}

.main__img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
}
