.card {
    z-index: 2;
    position: relative;
    width: 400px;
    height: 576px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    color: #1A1B22;
    border: none;
    border-radius: 25px;
    margin: 0;
}

.card__img {
    width: 400px;
    height: 272px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    margin: 0;
}

.card__category-group {
    z-index: 3;
    position: absolute;
    top: 24px;
    left: 24px;
    min-width: 44px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.card__category-text {
    color: #1A1B22;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0 22px;
    padding: 0;
}

.card__bookmark-group {
    z-index: 3;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.card__trash-img {
    width: 40px;
    height: 40px;
    background: url('../../../../assets/trashcan.svg') center no-repeat;
}

.card__bookmark-img {
    width: 40px;
    height: 40px;
    background: url('../../../../assets/bookmark.svg') center no-repeat;
}

.card__bookmark-img_checked {
    background: url('../../../../assets/bookmark-checked.svg') center no-repeat;
}

.card__tooltip {
    z-index: 4;
    position: absolute;
    top: 0;
    left: -187px;
    width: 182px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #1A1B22;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.card__bookmark-group .card__bookmark-img:hover {
    background-image: url('../../../../assets/bookmark-hover.svg');
}

.card__bookmark-group_disabled .card__bookmark-img:hover {
    background-image: url('../../../../assets/bookmark.svg');
}

.card__bookmark-group_disabled:hover .card__tooltip {
    visibility: visible;
    opacity: 1;
}

.card__bookmark-group .card__trash-img:hover {
    background-image: url('../../../../assets/trashcan-dark.svg');
}

.card__info {
    width: 352px;
    height: 304px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0 24px 0;
}

.card__title {
    width: 352px;
    height: 60px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #1A1B22;
    cursor: pointer;
    margin: 12px 0 0 0;
}

.card__title:hover {
    text-decoration: underline;
}

.card__description {
    width: 352px;
    height: 110px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 16px 0 0 0;
}

.card__date {
    width: 149px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0 0 0;
}

.card__source {
    width: 121px;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1A1B22;
    margin: 18px 0 24px 0;
}
