.card {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 576px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    text-decoration: none;
    color: #1A1B22;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    margin: 0;
}

.card__img {
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    margin: 0;
}

.card__category-group {
    z-index: 3;
    position: absolute;
    top: 24px;
    left: 24px;
    min-width: 44px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.card__category-text {
    color: #1A1B22;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0 22px;
    padding: 0;
}

.card__bookmark-group {
    z-index: 3;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.card__trash-img {
    width: 40px;
    height: 40px;
    background: url('../../../../assets/trashcan.svg') center no-repeat;
}

.card__trach-img:hover {
    background: url('../../../../assets/trashcan-dark.svg') center no-repeat;
}

.card__bookmark-img {
    width: 40px;
    height: 40px;
    background: url('../../../../assets/bookmark.svg') center no-repeat;
}

.card__bookmark-img_checked {
    background: url('../../../../assets/bookmark-checked.svg') center no-repeat;
}

.card__tooltip {
    z-index: 4;
    position: absolute;
    top: 0;
    left: -187px;
    width: 182px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #1A1B22;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.card__bookmark-group .card__bookmark-img:hover {
    background-image: url('../../../../assets/bookmark-hover.svg');
}

.card__bookmark-group_disabled .card__bookmark-img:hover {
    background-image: url('../../../../assets/bookmark.svg');
}

.card__bookmark-group_disabled:hover .card__tooltip {
    visibility: visible;
    opacity: 1;
}

.card__bookmark-group .card__trash-img:hover {
    background-image: url('../../../../assets/trashcan-dark.svg');
}

.card__info {
    width: 100%;
    height: 304px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 24px;
    margin: 0;
}

.card__title {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: hidden;
    overflow: hidden;
    color: #1A1B22;
    margin: 12px 0 0 0;
}

.card__description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 16px 0 0 0;
}

.card__date {
    height: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 20px 0 0 0;
}

.card__source {
    height: 20px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #B6BCBF;
    margin: auto 0 24px 0;
}

.card__link {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: transparent;
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 769px) {
    .card {
        max-width: 224px;
        height: 420px;
    }

    .card__img {
        height: 150px;
    }

    .card__category-group {
        top: 8px;
        left: 8px;
    }

    .card__bookmark-group {
        top: 8px;
        right: 8px;
    }

    .card__date {
        height: 24px;
        margin: 16px 0 0 0;
    }

    .card__title {
        line-clamp: 2;
        -webkit-line-clamp: 2;
        margin: 12px 0 0 0;
    }

    .card__description {
        height: 88px;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        margin: 16px 0 0 0;
    }

    .card__source {
        margin: 12px 0 16px 0;
    }
}

@media screen and (max-width: 426px) {
    .card {
        max-width: 288px;
        height: 440px;
        justify-self: center;
    }

    .card__img {
        height: 196px;
    }

    .card__category-group {
        top: 16px;
        left: 16px;
    }

    .card__bookmark-group {
        top: 16px;
        right: 16px;
    }

    .card__date {
        height: 24px;
        margin: 16px 0 0 0;
    }

    .card__title {
        line-clamp: 2;
        -webkit-line-clamp: 2;
        margin: 10px 0 0 0;
    }

    .card__description {
        height: 88px;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        margin: 14px 0 0 0;
    }

    .card__source {
        margin: 8px 0 16px 0;
    }
}
